[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multibridge"]
	path = multibridge
	url = https://github.com/asarafoglou/multibridge
